<div class="sidebar">
    <div class="logo">
        <mat-icon>dashboard</mat-icon>
        <span>Enterprise</span>
    </div>

    <ul>
        <li routerLink="/dashboard" routerLinkActive="active">
            <mat-icon>dashboard</mat-icon>
            Dashboard
        </li>

        <li routerLink="/task" routerLinkActive="active">
            <mat-icon>task</mat-icon>
            Tasks
        </li>

        <li routerLink="/profile" routerLinkActive="active">
            <mat-icon>person</mat-icon>
            Profile
        </li>

        

        <li>
            <mat-icon>bar_chart</mat-icon>
            Reports
        </li>
    </ul>
</div>